/*
 *  Copyright (C) 2011-2012 VMware, Inc. All rights reserved.
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *     http://www.apache.org/licenses/LICENSE-2.0
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

html .bluecool .MainContent .wmfancypanel .wmFancyPanel-labelWidget {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: bold;
font-size:18px;
line-height: 28px;
color: white;
letter-spacing: -0.015em;
text-shadow: 0 2px 1px #00529b;
white-space: nowrap; 
}
 