.loginButton{
    width: 38px;
    height: 38px;
    background-image:url('resources/images/logout.gif');
}
.loginButton:hover{
    width: 38px;
    height: 38px;
    background-image:url('resources/images/logoutMouseOver.gif');
}